<p>
  <b>Itinerary:</b>
  <%=h @itineraries_date_break.itinerary_id %>
</p>

<p>
  <b>Date break:</b>
  <%=h @itineraries_date_break.date_break_id %>
</p>


<%= link_to 'Edit', edit_itineraries_date_break_path(@itineraries_date_break) %> |
<%= link_to 'Back', itineraries_date_breaks_path %>