<p>
  <b>Event:</b>
  <%=h @events_coupon.event_id %>
</p>

<p>
  <b>Coupon:</b>
  <%=h @events_coupon.coupon_id %>
</p>


<%= link_to 'Edit', edit_events_coupon_path(@events_coupon) %> |
<%= link_to 'Back', events_coupons_path %>