<p>
  <b>Event:</b>
  <%=h @events_hour.event_id %>
</p>

<p>
  <b>Hour:</b>
  <%=h @events_hour.hour_id %>
</p>


<%= link_to 'Edit', edit_events_hour_path(@events_hour) %> |
<%= link_to 'Back', events_hours_path %>