<p>
  <b>Place:</b>
  <%=h @places_coupon.place_id %>
</p>

<p>
  <b>Coupon:</b>
  <%=h @places_coupon.coupon_id %>
</p>


<%= link_to 'Edit', edit_places_coupon_path(@places_coupon) %> |
<%= link_to 'Back', places_coupons_path %>