<div class="home-image"><%= image_tag('sameday_usa/sdusa-home-image.jpg', :alt => 'SamedayUSA') %></div>
<h2>Welcome To samedayUSA!</h2>
<p>
	We are pleased to introduce you to <strong>samedayUSA&trade;</strong>, the most useful travel information and trip planning tool ever designed by Travel Professionals, for Travel Professionals. This remarkable system allows travel counselors around the country to receive and advise same-day visitors in a manner unimaginable just a few years ago.
</p>