<% form_for @building, :html => { :multipart => true } do |f| %>
	<%= render :partial => 'shared/notice_messages', :locals => { :css_id_prefix => 'building_', :error_messages => f.error_messages } %>

	<fieldset>
		<legend>New Building</legend>
		<%= render :partial => 'form', :locals => { :f => f } %>
	  <p class="submit">
	    <%= f.submit 'Create'%> or <%= link_to 'cancel', buildings_path %>
	  </p>	
	</fieldset>
<% end %>