<%= image_tag('icons/error_tiger.png', :alt => 'Error Tiger', :style => 'float: right; margin-bottom: -15px') %>
<h2>404 Not Found Error</h2>
<p>There was a problem with your request. It is likely a mistake on our part.</p>
<ul>
	<li>A notification was automatically sent to the administrators of this application.</li>
	<li>No action is required on your part; however, you might consider checking the URL if you entered it by hand to ensure that there are no typos.</li>
	<li>You can also try to refresh the page as the error might have been temporary.</li>
</ul>