<% form_for(@category) do |f| %>
	<%= render :partial => 'shared/notice_messages', :locals => { :css_id_prefix => 'category_', :error_messages => f.error_messages } %>

	<fieldset>
		<legend>Editing Category</legend>
		<%= render :partial => 'form', :locals => { :f => f } %>
	  <p>
	    <%= f.submit 'Save'%> or <%= link_to 'cancel', categories_path %>
	  </p>	
	</fieldset>
<% end %>