<p>
  <b>Place:</b>
  <%=h @places_hour.place_id %>
</p>

<p>
  <b>Hour:</b>
  <%=h @places_hour.hour_id %>
</p>


<%= link_to 'Edit', edit_places_hour_path(@places_hour) %> |
<%= link_to 'Back', places_hours_path %>