<p>
  <b>Address:</b>
  <%=h @email.address %>
</p>

<p>
  <b>Email Address for a:</b>
  <%=h @email.model_name %>
</p>


<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>