<h2>Places</h2>

<table>
	<tr>
		<td>
			<div id="state-selector">
				<%= render :partial => 'state_selector' %>
			</div>
		</td>
		<td>
			<div id="county-selector" style="print: none; display: none;">
			</div>
		</td>
	</tr>
</table>
<br />
<div id="location-list" style="display: none;">

</div>

<br />

<%= link_to 'New place', new_place_path if create_places? %>